<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Über mich</h2>
<div class="summary">
    <p>Hallo mein Name ist Thomas Czogalik und ich studiere Informatik (Master) am Karlsruher Institut für Technologie. Während meines 
        Studiums und meiner Tätigkeit als Wekstudent entwickelte ich ein tiefes Verständnis für Software Design und Entwicklung.
        Auch während meiner Freizeit bin ich sehr engagiert mich weiterzubilden. Dazu zählen besuche bei den Karlsruher Entwicklertagen, der 
        Microsoft Imagine Conference oder dem Google Developer Fest in Karlsruhe. Regelmäßig besuche ich auch Meetups in Karlsruhe, mit Schwerpunkt 
        Softwareentwicklung oder um neue Technologien oder um andere Bereiche kennen zu lernen. In meiner Freizeit programmiere ich sehr gerne und probiere auch immer wieder
         neue Technologien oder Sprachen aus. Hin und wieder nehme ich auch mit Freunden an Hackathons teil. Bei einem durften wir auch den 
         ersten Platz mit nach Hause nehmen (Microsoft Nikolaus Hackhathon 2016). 
    </p>
</div><!--//summary-->
</section><!--//section-->