<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Über mich</h2>
<div class="summary">
    <p>Hallo mein Name ist Thomas Czogalik und ich studiere Informatik (Master) am Karlsruher Institut für Technologie. Während meines 
        Studiums und meiner Tätigkeit als Wekstudent entwickelte ich ein tiefes Verständnis für Software Design und Entwicklung.
        Auch während meiner Freizeit bin ich sehr engagiert mich weiterzubilden indem ich z.B. die Entwicklertage, die 
        Microsoft Imagine Conference oder das Google Developer Fest in Karlsruhe besuche. Außerdem programmiere ich viel in meiner Freizeit und probiere gerne neue Technologien aus.
        Während dieser Zeit habe ich auch mit Freunden an mehreren Hackhathons teilgenommen und auch einen gewonnen (Nikolaus Hackhathon 2016). 
    </p>
</div><!--//summary-->
</section><!--//section-->