 <div class="education-container container-block">
<h2 class="container-block-title">Studium</h2>
<div class="item">
    <h4 class="degree">MSc in Informatik</h4>
    <h5 class="meta">Karlsruher Institut für Technologie</h5>
    <div class="time">2016 - Heute</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Informatik</h4>
    <h5 class="meta">Karlsruher Institut für Technologie</h5>
    <div class="time">2012 - 2016</div>
</div><!--//item-->
</div><!--//education-container-->