<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Erfahrung</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Werkstudent</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Forschungszentrum für Informatik (FZI), Karlsruhe</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul class="list-styled">
                            <li>Involviert in Plannung und Entwicklung von Software Projekten in einem Entwicklungsteam</li>
                            <li>Teilnahme an mehreren Code Reviews in verschiedenen Rollen</li>
                            <li>Mitwirkung beim aufsetzen eines Build Prozesses (Maven, Tycho CI)</li>
                            <li>Mitarbeit an mehreren Projekten als Entwickler</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->