<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Werkstudent Projekte</h2>

  {% if site.data.projects_work.intro %}
  <div class="intro">
      <p>{{ site.data.projects_work.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.projects_work.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}
  
  <h2 class="section-title"><i class="fa fa-archive"></i>Private Projekte</h2>

  {% if site.data.projects_private.intro %}
  <div class="intro">
      <p>{{ site.data.projects_private.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.projects_private.projects %}
    <div class="item">

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline">{{ project.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
