<h2 class="section-title"><i class="fa fa-archive"></i>Werkstudent Projekte</h2>
                <div class="intro">
                    <p>Im folgenden eine Aufzählung der Projekte an denen ich während meiner Werkstudenttätigkeit beteiligt war.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">BW-CPS</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Cooperate-Project/CooperateModelingEnvironment" target="_blank">Cooperate</a></span> - <span class="project-tagline">Modellierungsumgebung zum gemeinsamen Arbeiten an einem UML Modell für sehende und sehbehinderte Entwickler. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/Cooperate-Project/PapyrusTextualDiagramProvider" target="_blank">Textual Diagram Provider</a></span> - <span class="project-tagline">Plugin zum Transformieren von UML Diagrammen nach PlantUML.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/kopl/SPLevo" target="_blank">Kopl</a></span> - <span class="project-tagline">Tool zum zusammenführen von Produktkopien zu einer Produktlinie.</span>
                </div><!--//item-->
               